@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 12%;
    --background-foreground: 0 0% 18%;
    --background-contrast: 0 0% 27%;
    --primary: 209, 100%, 50%;
    --primary-foreground: 210 100% 71%;
    --primary-contrast: 180 100% 94%;
    --secondary: 214 100% 50%;
    --secondary-foreground: 180 100% 94%;
    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 62%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 12%;
    --background-foreground: 0 0% 18%;
    --background-contrast: 0 0% 27%;
    --primary: 209, 100%, 50%;
    --primary-foreground: 210 100% 71%;
    --primary-contrast: 180 100% 94%;
    --secondary: 214 100% 50%;
    --secondary-foreground: 180 100% 94%;
    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 62%;
  }
}

@layer components {
  .cardWrapper {
    @apply relative overflow-hidden w-full h-full bg-background;
  }
  .cardWrapper::before {
    background: conic-gradient(
      from -55deg,
      rgba(167, 139, 250, 0) 75%,
      hsl(var(--primary)) 100%
    ) !important;
    @apply absolute  h-[100%] w-[100%] content-[''] animate-border-spin;
  }
}
