@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 12%;
    --background-foreground: 0 0% 18%;
    --background-contrast: 0 0% 27%;
    --primary: 209, 100%, 50%;
    --primary-foreground: 210 100% 71%;
    --primary-contrast: 180 100% 94%;
    --secondary: 214 100% 50%;
    --secondary-foreground: 180 100% 94%;
    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 62%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 12%;
    --background-foreground: 0 0% 18%;
    --background-contrast: 0 0% 27%;
    --primary: 209, 100%, 50%;
    --primary-foreground: 210 100% 71%;
    --primary-contrast: 180 100% 94%;
    --secondary: 214 100% 50%;
    --secondary-foreground: 180 100% 94%;
    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 62%;
  }
}
